<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Musa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true />
	<key>NSCalendarsUsageDescription</key>
	<string>Permita o acesso ao calendário para inserir datas e horários.</string>
	<key>NSCameraUsageDescription</key>
	<string
    >Usamos a câmera para que você possa tirar uma foto de perfil ou fotografar exames que serão adicionados ao prontuário.</string>
	<key>NSFaceIDUsageDescription</key>
	<string
    >Usamos a autenticação por Face ID para facilitar o login com segurança, permitindo que você acesse o app sem digitar sua senha.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string
    >Utilizamos sua localização para identificar em qual clínica você está no momento do acesso.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string
    >Utilizamos sua localização para identificar em qual clínica você está no momento do acesso.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string
    >Permita o acesso ao microfone para videochamadas com profissionais e conversas por voz com inteligência artificial.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string
    >Usamos esta permissão para salvar imagens no seu dispositivo, como comprovantes ou registros visuais de exames e atualizações.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string
    >Precisamos acessar sua galeria para selecionar uma foto de perfil ou anexar imagens de exames médicos.</string>
	<key>UIFileSharingEnabled</key>
	<true />
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
	<key>ITSAppUsesNonExemptEncryption</key>
	<false />
</dict>
</plist>
